:root{
    --clr-nav:rgba(222,222,222,0.65); --clr-bg-primary:#dedede; --clr-bg-secondary:#ededed; --clr-accent:#fff;
    --clr-txt-main:#005e72; --clr-txt-secondary: #151f6d;
    --clr-surface:var(--clr-bg-secondary); --clr-card-bg:#fDFDFD; --clr-text-primary:#222; --clr-text-secondary:#333;
    --clr-border:#ccc; --clr-shadow:rgba(0,0,0,0.1); --border-line: linear-gradient(to right, transparent,rgba(0,0,0,.8) 30%, rgba(0,0,0,.8) 70%, transparent)100; 
    --clr-ani-red: #d96b8f; --clr-ani-purple: #8f79b7; --clr-ani-blue: #7b9fc7; --clr-ani-green: #5fae9c;
}
[data-theme="dark"] {
    --clr-nav:transparent; --clr-bg-primary:#101010; --clr-bg-secondary:#1a1a1a; --clr-accent:#f9f9f9;
    --clr-txt-main:#4ecdc4; --clr-txt-secondary:#6c63ff;
    --clr-surface:#2d2d2d; --clr-card-bg:#212121; --clr-text-primary:#e0e0e0; --clr-text-secondary:#b0b0b0;
    --clr-border:#404040; --clr-shadow:rgba(0,0,0,0.3); --border-line: linear-gradient(to right, transparent,rgba(255,255,255,.8) 30%, rgba(255,255,255,.8) 70%, transparent)100; 
    --clr-ani-red: #a8004d; --clr-ani-purple: #5e2a84; --clr-ani-blue: #2d5a8f; --clr-ani-green: #048060;
}
*, *::after, *::before {
    box-sizing:border-box; padding:0; margin:0;
}
html {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif; font-size: 16px; background-color: var(--clr-bg-primary); scroll-behavior: smooth; scroll-padding-top: 60px; 

    @media (width < 500px) {
        scroll-padding-top: 55px; scroll-snap-type: none;
    }
}
img {
    max-width:100%; height:auto; display:block;
}
.wrapper {
    width:80%; max-width:1200px; margin:0 auto;
}
.nav {
    display:flex; justify-content: space-between; align-items: center; position: fixed; top:0; left:0; right:0; z-index:1000;
    background-color:var(--clr-nav); padding:1rem 3rem; backdrop-filter: blur(200px); 

    @media (width < 500px) {
        padding:1rem 2rem;
    }
}
.nav > .page-header {
    font-size:1.5rem; font-weight:700; color:var(--clr-txt-main); font-family:'Montserrat', sans-serif; cursor:pointer; z-index: 1050;

    @media (width < 760px) {
        font-size:1.4rem;
    }
    @media (width < 500px) {
        font-size:1.3rem;
    }
} 
.nav .page-header span {
    color:var(--clr-accent); padding-inline: 1rem; background-color: var(--clr-txt-main); border-radius: 4px; font-weight: 600; display: inline-block; transform: rotate(-5deg);
}  
.nav .hamburger {
    display:none; flex-direction:column; justify-content:center; align-items:center; width:28px; height:28px; position:fixed; 
    background:transparent; border:none; outline:1px solid transparent; border-radius:50%; gap:.4rem;  right:3rem; cursor:pointer;
    transition:all .3s ease-in-out;

    @media (width < 760px) {
        display:flex; z-index:1000;
    }
}
.nav .hamburger span {
    width:100%; position:relative;
}
.nav .hamburger span, .nav .hamburger span::before, .nav .hamburger span::after {
    margin:0 auto; display:block; height:2px; background-color:var(--clr-txt-main);
}
.nav .hamburger span::before, .nav .hamburger span::after {
    content:""; width:100%; position:absolute; transform-origin:center center; transition:transform 0.3s ease;
}
.nav .hamburger span::before {
    transform:translateY(-7px);
}
.nav .hamburger span::after {
    transform:translateY(7px);
}
.nav .hamburger.active span::before {
    transform:rotate(45deg);
}
.nav .hamburger.active span::after {
    transform:rotate(-45deg);
}
.nav .hamburger.active span {
    background-color:transparent;
}
.nav .info {
    width: 60%;

    @media (width < 760px) {
        width: auto;
    }
}
.nav ul{
    display:flex; gap:2rem; align-items:center; z-index:999; 

    @media (width < 760px) {
        flex-direction:column; margin-top:3.75rem; position:fixed; top:0; right:0; background-color:var(--clr-nav);  padding:4rem 3rem; 
        width: 60%; max-width: 300px; min-height: 100dvh; z-index: 999; display: none; 
    }
    @media (width < 500px) {
        margin-top: 3.6rem;   
    }
}
.nav .navList.active {
    display: flex;
}
.nav .navList a {
    text-decoration: none; color:var(--clr-text-primary); position:relative; font-weight:600; text-transform: uppercase; letter-spacing: .05em; transition:color .3s ease-out;
}
.nav .navList a:hover {
    color:var(--clr-txt-main);
}
.nav .navList a::after {
    content:""; transition:width .3s ease-out; background-color:var(--clr-txt-main); position:absolute; width:0; bottom:-5px; left:0; height:2px;
}
.nav .navList a:hover::after {
    width:100%;
}
.nav .theme {
    display:flex; justify-content:center; align-items:center; cursor:pointer; width:28px; height:28px; border-radius:50%; border:1px solid transparent; transition:all .3s ease-in-out;
    position: relative; margin-left: auto;


    @media (width < 760px) {
        margin-left: auto; margin-top: auto; margin-bottom: 2rem;
    }
}
.nav .theme img {
    filter:brightness(0) invert(24%) sepia(98%) saturate(2085%) hue-rotate(210deg); position: absolute; top: 0; left: 0; transition: all .3s ease-in-out;
}
.nav .theme .light-icon {
    display: none;
}
[data-theme="dark"] .nav .theme .light-icon {
    display: block;
}
[data-theme="dark"] .nav .theme .dark-icon {
    display: none;
}
.overlay {
    position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,.75); opacity:0; visibility:hidden; z-index:900; transition:all .05s ease-in-out;
}
.overlay.active {
    visibility: visible; opacity: 1;
}
.header {
    display:flex; justify-content:center; align-items:center; gap:1.5rem; flex-direction:column;
    height:100vh; color:var(--clr-accent); padding-top:4rem;
    background:linear-gradient(-45deg,#59c1bd, #005e72, #00738c, #151f6d); 
    background-size:400% 400%; box-shadow:0 4px 8px rgba(0,0,0,.1); scroll-snap-align: start;
    animation:headerBackground 40s ease infinite; padding-inline:3rem;

    @media (width < 500px) {
        padding-inline: 2rem; gap: 1rem; padding-top: 2rem;
    }
}
@keyframes headerBackground {
    0%{background-position:0% 50%;} 50%{background-position:100% 50%;} 100%{background-position:0% 50%;}
}
.header .hero-inner {
    display:flex; flex-direction:column; justify-content:start; align-items:start; text-align:start; gap:1.5rem; width: 100%; max-width:800px;
}
.header h1 {
    font-size: clamp(2.8rem, 6vw, 4rem); font-weight: 700; letter-spacing: -0.02em;
}
.header .subtitle {
    max-width: 600px; font-size: 1.1rem; line-height: 1.6; opacity: 0.9;
}
.header .typeWritter {
    display: flex; height: 60px; justify-content: center; align-items: center;
    font-family:'Courier Prime', monospace; font-size: 1.5rem;

    @media (width < 500px) {
        font-size:1.3rem;
    }
}
.header .typeWritter .typing {
    color:var(--clr-accent); font-weight:600;
}
.header.typeWritter.cursor {
    color:var(--clr-accent); font-weight:bold; margin-left:5px; animation:blik 1s infinite;
}
@keyframes blik {
    0%,50%{opacity:1;} 51%,100%{opacity:0;}
}
.header .header-btn {
    display:flex; gap:1.5rem; margin-top:1.5rem; text-align: center; text-transform: uppercase; justify-self: center; align-items: start;
}
.header .header-btn a {
    text-decoration: none; color: #555; background:var(--clr-accent); font-size:1rem; padding:.75em 1.5em;
    border: none; outline: 1px solid var(--clr-accent); font-weight:600; border-radius:5vw; transition:all .3s ease-in;
    display: flex; justify-content: center; align-items:center;
}
.header .header-btn a:hover {
    transform:translateY(-8px); background-color:var(--clr-accent);
}
.about {
   display:flex; justify-content:center; align-items:center; scroll-snap-align: start; background-color:var(--clr-bg-primary); padding-block:4rem;

   @media (width > 1200px) {
    min-height: calc(100vh - 60px); max-height: calc(100vh - 60px);  border-bottom: 1px solid; border-image: var(--border-line);
}
}
.container {
    display:flex; flex-direction:column; justify-content:center; align-items:center; box-shadow:0 5px 5px rgba(0,0,0,.15);
    background-color:var(--clr-bg-secondary); border-radius:.5vw; padding:1.5rem; max-width:1300px; width:95%; margin:0 auto;

    @media (width > 1200px) {
        min-height:80% !important;
    }
    @media (width < 500px) {
        padding:1rem 0;
    }
}
.about .container h2 {
    font-family:'Montserrat', sans-serif; font-size:2rem; color:var(--clr-txt-main); margin-block:2rem;

    @media (width < 1200px) {
        margin-block:2rem 1.5rem;
    }
    @media (width < 500px) {
        margin-block:2rem 1rem;
    }
}
.about .container .about-info {
    display:flex; align-items:center; justify-content:space-between; gap:2rem; padding:2rem; flex-wrap:wrap;

    @media (width < 500px) {padding:1rem;}
}
.about .container .about-info .cat {
    flex:1 1 70%; display:flex; flex-direction:column; gap:1.5rem; justify-content:center; align-items:flex-start;
    background-color:var(--clr-surface); padding:1.5rem; border-radius:.5vw; box-shadow:0 4px 6px rgba(0,0,0,.1);
}
.about .container .about-info p {
    font-size:1.05rem; color:var(--clr-text-primary); line-height:1.6;
}
.about .container .about-info .cat a {
    text-decoration:none; color:var(--clr-accent); background:var(--clr-txt-main); padding:.7em 1.25em; border-radius:1vw; font-weight:600;
    transition:all .3s ease-in-out; margin-top:1rem;
}
.about .container .about-info .cat a:hover {
    background-color:#00738c; transform:translateY(-4px);
}
.about .container .about-info .ring-animation {
    padding: 6px; background: linear-gradient(90deg, var(--clr-ani-red) 0%, var(--clr-ani-purple) 25%, var(--clr-ani-blue) 50%, var(--clr-ani-green) 75%, var(--clr-ani-red) 100%); background-size: 400% 100%; border-radius: 1.5vw; animation: gradientMove 5s linear infinite, pulse 6s ease-in-out infinite; box-shadow:0 0 20px rgba(255, 0, 110, 0.3),0 0 40px rgba(131, 56, 236, 0.2); 
    margin: 0 auto; 
}
@keyframes gradientMove {
    0% {background-position: 0% 50%;} 100% {background-position: 400% 50%;}
}
@keyframes pulse {
    0%, 100% {box-shadow:0 0 15px rgba(255, 0, 110, 0.3),0 0 25px rgba(131, 56, 236, 0.2);} 50% {box-shadow:0 0 25px rgba(255, 0, 110, 0.6),0 0 35px rgba(131, 56, 236, 0.4);}
}
.about .container .about-info .skills {
    flex:1 1 25%; display:flex; flex-direction: column; gap: 2rem; justify-content:center; align-items:center; width:fit-content;
    background-color:var(--clr-surface); padding: 1rem 2rem; border-radius:1.5vw; 
}
.about .container .about-info .skills .row, .about .container .about-info .skills .row2 {
    display:flex !important; gap:1.5rem; align-items:center; justify-content:center; flex-direction:row !important;
}
.about .container .about-info .skills .box {
    width:70px; height:70px; border:solid transparent; display:flex; justify-content:center; align-items:center; transition:all 0.3s ease;
    font-weight:600; font-size:0.9rem; text-align:center; padding:0.5rem; border-radius:10px; box-shadow:0 4px 6px rgba(0,0,0,.2);
}
.about .container .about-info .skills .box:hover {
    transform:translateY(-1px); box-shadow:0 8px 12px rgba(0,0,0,.3); cursor:pointer;
}
.about .container .about-info .skills .box.html {
    background-color:#e44d26; color:var(--clr-accent); border-color:#e44d26;
}
.about .container .about-info .skills .box.css {
    background-color:#264de4; color:var(--clr-accent); border-color:#264de4;
}
.about .container .about-info .skills .box.js {
    background-color:#f0db4f; color:#222; border-color:#f0db4f;
}
.about .container .about-info .skills .box.uiUx {
    background-color:#222; color:var(--clr-accent); border-color:#222; animation: spin linear; animation-timeline: view(); animation-range: entry 0% exit 100%; border-radius: 50%;
} 
@keyframes spin {
    from{ rotate: 0deg;} to{ rotate: 1440deg;}
}
.projects {
    background-color:var(--clr-bg-primary); display:flex; align-items:center; scroll-snap-align: start; padding-block: 4rem 2rem; 
    
    @media (width < 1050px) {
        padding-block:2.5rem;
    }
    @media (width < 500px) {
        padding-block: 1.5rem;
    }
}
.projects .container2 {
    display:flex; flex-direction:column; gap:1rem; background-color:var(--clr-surface); padding:2.5rem .5rem; margin:0 auto;
    min-height:80% !important; border-radius:.5vw; margin-top:1rem; width:95%; max-width:1300px;

    @media (width < 500px) {
        padding:2rem .5rem;
    }
}
.projects .container2 header {
    text-align:center;
}
.projects .container2 header h2 {
    font-size:2rem; color:var(--clr-txt-main); margin-bottom:1rem; font-family:'Montserrat', sans-serif;
}
.projects .container2 header p {
    font-size:1rem; color:var(--clr-text-primary); margin-bottom:.95rem; font-family:'Montserrat', sans-serif;
}
.projects .container2 .projects-container {
    --grid-max-count:2; --grid-min-size:250px; --grid-gap: 2rem;
    --grid-max-count-calc:calc((100% - var(--grid-gap) * (var(--grid-max-count) - 1)) / var(--grid-max-count));
    --grid-min-size-working:min(100%,max(var(--grid-min-size),var(--grid-max-count-calc)));

    display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-size-working), 1fr));
    
    grid-template-rows:auto; gap:var(--grid-gap); padding:2rem; 

    @media (width < 500px) {
        padding:.5rem;
    }
}
.projects .container2 .projects-container .card {
    background-color:var(--clr-card-bg); border-radius:12px; overflow:hidden; transition:all .3s ease; cursor:pointer; box-shadow:0 6px 18px rgba(0,0,0,.08);
    opacity: 0; transform: translateY(50px);
}
.projects .container2 .projects-container .card.animate {
    animation:appearUp .6s ease-out forwards; will-change: transform, opacity;
}
@keyframes appearUp {
    to{opacity: 1; transform:translateY(0px);}
}
.projects .container2 .projects-container .card .img-container {
    position:relative;
}
.projects .container2 .projects-container .card img {
    max-width:100%; max-height:100%; height:auto; object-fit:cover; transition:all .5s ease; display:block; z-index:1; 
}
.projects .container2 .projects-container .card:hover img {
    transform:scale(1.05);
}
.projects .container2 .projects-container .card .img-overlay {
    position:absolute; width:100%; height:100%; top:0; left:0; background-color:rgba(52,152,219,.1); opacity:0; transition:all .3s ease;
    display:flex; align-items:center; justify-content:center; z-index:2;
}
.projects .container2 .projects-container .card:hover .img-overlay {
    opacity:1;
}
.projects .container2 .projects-container .card .card-text {
    padding:20px; text-align:left;
}
.projects .container2 .projects-container .card .card-text h3 {
    font-size:1.2rem; font-weight:600; margin-bottom:10px; color:var(--clr-text-primary); font-family: 'Montserrat', sans-serif;
}
.projects .container2 .projects-container .card .card-text p {
    font-size:.95rem; margin-bottom:.95rem; line-height:1.5; color:var(--clr-text-secondary);
}
.projects .container2 .projects-container .card .card-text a {
    display:inline-block; font-size:.9rem; color:var(--clr-txt-main); text-decoration:none; font-weight:600; transition:all .3s ease;
}
.projects .container2 .projects-container .card .card-text a:hover {
    color:var(--clr-txt-secondary);
}
.contact {
  scroll-snap-align: start;
}
.contact .container3 {
    display:flex; flex-direction:column; justify-content:center; align-items:center; max-width:1200px; margin:0 auto; padding:2rem; 
    animation: appearFade linear; animation-timeline: view(); animation-range: entry 0% cover 20%;

    @media (width < 500px) {
        padding:1rem;
    }
}
@keyframes appearFade {
    from{opacity: .3; scale: .7;} to{opacity: 1; scale: 1;}
}
.contact .container3 header {
    padding:3rem; text-align:center;

    @media (width < 500px) {
        padding:2rem .5rem 1rem;
    }
}
.contact .container3 header h2 {
    font-size:2rem; color:var(--clr-txt-main); margin-bottom:1rem; font-family:'Montserrat', sans-serif;
}
.contact .container3 header p {
    font-size:1rem; color:var(--clr-text-primary); margin-bottom:.95rem; font-family:'Montserrat', sans-serif;
}
.contact .container3 .contact-grid {
    display: grid; grid-template-columns: 1fr 1fr; gap: 50px; min-width: 100%; 

    @media (width < 750px) {
        grid-template-columns:1fr; gap:30px;
    }
}
.contact .container3 .contact-grid .contact-info {
    background-color:var(--clr-card-bg); border-radius:1vw; display:flex; flex-direction:column; padding:2.5rem; justify-content:center; gap:2rem;
    height:fit-content;

    @media (width < 500px) {
        padding:2rem 1rem;
    }
}
.contact .container3 .contact-grid .contact-info h3 {
    font-family:'Montserrat' sans-serif; color:var(--clr-txt-secondary); margin-bottom:1rem; font-size:1.5rem;
}
.contact .container3 .contact-grid .contact-info .contact-item {
    display:flex; gap:.5rem; align-items:center;
}
.contact .container3 .contact-grid .contact-info .contact-item h4, .contact .container3 .contact-grid .send-message form label {
    font-family:'Montserrat' sans-serif; color:var(--clr-text-primary); margin-bottom:.2rem; font-weight:600;
}
.contact .container3 .contact-grid .contact-info .contact-item p {
    color:var(--clr-text-secondary); font-size:.95em;
}
.contact .container3 .contact-grid .contact-info .socials h4 {
    color:var(--clr-txt-secondary); margin-bottom:1rem; font-size:1.3rem;
}
.contact .container3 .contact-grid .contact-info .socials .socials-links {
    display:flex; gap:18px;
}
.contact .container3 .contact-grid .contact-info .socials .socials-links a {
    display:flex; text-decoration:none; justify-content:center; align-items:center; width:auto; height:auto; border-radius:50%; padding:.5rem;
    transition:all .3s ease-in-out; transition-delay:.05s;
}
.contact .container3 .contact-grid .contact-info .socials .socials-links a img {
    width:24px; height:24px; object-fit:contain;
}
[data-theme="dark"] .contact .container3 .contact-grid .contact-info .socials .socials-links a img,[data-theme="dark"] .contact .container3 .contact-grid .contact-info .contact-item img, [data-theme="dark"] .footer p img {
       filter:brightness(0) invert(100%);
}
.contact .container3 .contact-grid .contact-info .socials .socials-links a img:hover {
    filter:brightness(0) invert(100%);
}
.contact .container3 .contact-grid .contact-info .socials .socials-links a:hover {
    background-color:#0077ff88; transform:translateY(-2px);
}
.contact .container3 .contact-grid .send-message {
    background-color:var(--clr-card-bg); border-radius:1vw; display:flex; flex-direction:column; justify-content:center; gap:1rem;
    padding:2.5rem;

    @media (width < 500px) {
        padding:2rem 1rem;
    }
}
.contact .container3 .contact-grid .send-message h3 {
    font-family:'Montserrat' sans-serif; color:var(--clr-txt-secondary); margin-bottom:1rem; font-size:1.5rem;
}
.contact .container3 .contact-grid .send-message form {
    display:flex; flex-direction:column; gap:1.7rem;
}
.contact .container3 .contact-grid .send-message form .hidden {
    display: none;
}
.contact .container3 .contact-grid .send-message form label input, .contact .container3 .contact-grid .send-message form label textarea {
    display:block; padding:12px 10px; height:auto; width:100%; border:1px solid var(--clr-border); border-radius:4px; font-family:inherit; font-size:1rem;
    margin-top:.5rem; transition:all .3s ease-in-out; resize:vertical; background-color:var(--clr-bg-secondary); color:var(--clr-text-primary);
}
.contact .container3 .contact-grid .send-message form label input:focus, .contact .container3 .contact-grid .send-message form label textarea:focus {
    outline:none; border-color:var(--clr-txt-main); box-shadow:0 0 0 2px rgba(0,123,255,.2);
}
.contact .container3 .contact-grid .send-message form label input::placeholder, .contact .container3 .contact-grid .send-message form label textarea::placeholder {
    color:var(--clr-text-secondary); font-size:.9rem;
}
.contact .container3 .contact-grid .send-message form button {
    padding:15px 30px; width:fit-content; color:var(--clr-accent); border:none; border-radius:6px; background:linear-gradient(45deg,#59c1bd, var(--clr-txt-main), #00738c, var(--clr-txt-secondary));
    animation:headerBackground 15s ease infinite; background-size:300% 300%; font-weight:600; font-size:1rem; transition:all .3s ease-in-out; cursor:pointer;
}
.contact .container3 .contact-grid .send-message form button[disabled] {
    opacity: 0.65; cursor: not-allowed;
}
.contact .container3 .contact-grid .send-message form button:hover {
    transform:translateY(-3px); box-shadow:0 4px 8px rgba(0,0,0,.3);
}
.contact .container3 .contact-grid .send-message form button:focus {
    background:var(--clr-txt-main);
}
.contact .container3 .contact-grid .send-message form #status {
    margin-top:10px; font-size:.9rem; font-weight:600;
}
.contact .container3 .contact-grid .send-message form #status.success {
    color:green;
}
.contact .container3 .contact-grid .send-message form #status.error {
    color:crimson;
}
.contact .container3 .contact-grid .send-message form #status.loading {
    color:var(--clr-txt-main);
}
.footer {
    scroll-snap-align: end; background-color:var(--clr-bg-secondary); margin-top:2rem;
}
.footer p {
    text-align:center; padding:2rem; color:var(--clr-text-secondary); border-top:1px solid; border-image:var(--border-line); margin-top:2rem; font-size:.9rem;
}
.footer p img {
   display: inline-table; width:16px; height:16px; vertical-align:middle; margin-left:4px;
}